name: preprocess_data
on:
  workflow_dispatch:
  schedule:
    - cron: "20 */3 * * *"
  push:
    branches:
      - main
jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run data fetch
        run: uv run python preprocess_forecast.py
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          TRIGGER_SOURCE: ${{ github.event_name }}
